.valFabrique {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.valFabrique h2,
.chiffres h2 {
    color: #ce0033;
    font-size: 4rem;
    font-weight: bolder;
    
}

.flex-valFabrique {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.respect {
    width: 100%;
}

.respect h2 {
    color: #ce0033;
    
    padding: 10px;
    text-align: start;
}

.respect p {
    font-size: 25px;
    padding: 15px;
    margin: 15px;
    text-align: justify;
}

.respect a {
    border: #ce0033 solid ;
    background: #ce0033;
    color: white;
    padding: 0.7rem;
    border-radius: 1rem;
    margin-left: -315px;
    font-size: 20px;
    text-align: start;
}

.grid-respect {
   width: 100%;
}

.box-1 {
    
    margin: 0 auto;
    border: rgb(216, 208, 208) solid 1px;
    
    
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px white;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.numero {
    display: inline-block;
    padding-top: 20px;
    color: #ce0033;
    background: #f7d3dc;
    border-radius: 50%;
    font-size: larger;
    font-weight: bolder;
    width: 65px;
    height: 57px;
}

.box-p {
    padding-left: 25px;
    text-align: start;
}

.box-p .gras-p {
    font-weight: bold;
    font-size: 25px;
}

.chiffres {
    text-align: center;
}


.flex-chiffre {
    display: flex;

    justify-content: space-around;
    border: #ce0033 solid 1px;
    background: #ce0033;
  
}

.gris-chiffre {
    font-weight: bolder;
    font-size: 52px;
    color: white;
}

.normal-chiffre {
    font-weight: bold;
    color: white;
}

.section5 {
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 40px;
}

.section5 h2 {
    text-align: center;
    font-size:         52px;
    font-weight: bolder;
    color: #ce0033;
}

.psection5 {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #000000;
  
}

.conteneur8 {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divconteneur8 {
    
   margin: 1rem;
    height: 70%;
    border-radius: 25px;
    box-shadow: 1px 1px 9px darkgrey;
}

.div-conteneur8 {
    margin-left: 30px;
}

.div--conteneur8 {
    margin-right: 30px;
}

.div1conteneur8 {
    width: 155px;
    height: 155px;
    background-image: url("img/coach2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    left: 40px;
    top: 57px;
}

.div2conteneur8 {
    width: 155px;
    height: 155px;
    background-image: url("img/coach1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    left: 40px;
    top: 57px;
}

.div3conteneur8 {
    width: 155px;
    height: 155px;
    background-image: url("img/coach3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    left: 40px;
    top: 57px;
}

.divconteneur8 p {
    color: #918d8e;
    font-size: 27px;
    padding: 1rem;
    position: relative;
    text-align: center;
}

.section5 h3 {
    color: #000000;
    font-size: 38px;
    font-weight: bolder;
    position: relative;
    top: 40px;
    left: 30px;
}

.section5 h4 {
    color: rgb(197, 17, 53);
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    top: 23px;
    left: 43px;
}
.icons-formateur{
    margin-top: -3.5rem;
}
.fa-twitter,
.fa-facebook-f,
.fa-linkedin {
    color: rgb(197, 17, 53);
    font-size: 35px;
    position: relative;
   padding: 1rem;
}

.conteneur9 {
    text-align: center;
    color: #ce0033;
}

.fabrique {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.fabrique h2 {
    margin: 25px;
    color: #ce0033;
    font-size: 52px;
    font-weight: bolder;
}

.grid-fab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fab1 {
    text-align: justify;
    margin: 15px;
}

.fab1 img {
    width: 75%;
}
/* début de la partie voyage fabrique */
.voyage-fabrique{
    display: flex;
    justify-content: center;
align-items: center;
background-color: rgb(249, 246, 244);
}
.titre-voyage{
    color: #ce0033;
}
.img-voyage-fabrique{
    width: 27rem;
}
.block-voyage-fabrique{
    width: auto;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

/*début de le partie responsive*/
@media only screen and (max-width: 780px){
    
/*début de la partie valeur*/
.flex-valFabrique {
    display: flex;
    flex-wrap: wrap;
}

.conteneur8{
    display: flex;
    flex-wrap: wrap;
}
.divconteneur8 {
    width: auto;
    margin: 1rem;
    height: 90%;
}
.respect h2{
    font-size: 3rem;
    text-align: center;
    
}
.respect a {
   
  align-items: center; 
  display: flex;
  justify-content: center;
  margin:0 6rem ;
}
.flex-chiffre {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.grid-fab {
    display: flex;
    flex-wrap: wrap;  
     
}
.fab1 img {
    width: 100%;
}
.voyage-fabrique{
    width: auto;
    flex-wrap: wrap;
}
.img-voyage-fabrique{
    width: 20rem;
}
/*fin de la media screen pour tablette*/

}