.valFabrique {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.valFabrique h2, .chiffres h2 {
    color: #ce0033;
    font-size: 52px;
    font-weight: bolder;
}

.flex-valFabrique {
    display: flex;
    justify-content: space-between;
}

.respect {
    width: 40%;
}
.respect h2 {
    color: #ce0033;
    font-size: 40px;
    padding: 10px;
    text-align: start;
}

.respect p {
    font-size: 25px;
    padding: 15px;
    margin: 15px;
    text-align: justify;
}

.respect a {
    border: #ce0033 solid 1px;
    background: #ce0033;
    color: white;
    padding: 10px;
    border-radius: 350px;
    margin-left: -315px;
    font-size: 20px;
    text-align: start;
}

.grid-respect {
    width: 40%;
}
.box-1 {
    width: 30%;
    margin: 0 auto;
    border: rgb(216, 208, 208) solid 1px;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px white;
    display: flex;
    padding: 10px;
    margin: 10px;
}
.numero {
    padding: 20px;
    border: #d47c92 solid 1px;
    color: #ce0033;
    background: #d47c92;
    border-radius: 50%;
    font-size: larger;
    font-weight: bolder;
}
.box-p {
    padding: 25px;
}
.gras-p {
    font-weight: bolder;
    font-size: 20px;
}
.chiffres{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.flex-chiffre {
    display: flex;
    justify-content: space-between;
    border: #ce0033 solid 1px;
    background: #ce0033;
    padding: 25px 20px;
}
.gris-chiffre {
    font-weight: bolder;
    font-size: 52px;
    color: white;
}

.normal-chiffre {
    font-weight: bold;
    color: white;
}

.section5 {
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 40px;
}

.section5 h2 {
    text-align: center;
    font-size: 52px;
    font-weight: bolder;
    color: #ce0033;
}

.psection5 {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #000000;
    padding: 0px 195px 0px 195px;
}

.conteneur8 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.divconteneur8 {
    width: 28%;
    height: 70%;
    border-radius: 25px;
    box-shadow: 1px 1px 9px darkgrey;
}

.div-conteneur8 {
    margin-left: 30px;
}

.div--conteneur8 {
    margin-right: 30px;
}

.div1conteneur8 {
    width: 155px;
    height: 155px;
    background-image: url("img/coach2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    left: 40px;
    top: 57px;
}
.div2conteneur8 {
    width: 155px;
    height: 155px;
    background-image: url("img/coach1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    left: 40px;
    top: 57px;
}

.div3conteneur8 {
    width: 155px;
    height: 155px;
    background-image: url("img/coach3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    left: 40px;
    top: 57px;
}

.divconteneur8 p {
    color: #b7aeae;
    font-size: 27px;
    padding: 0px 39px 0px 39px;
    position: relative;
    top: 40px;
    text-align: center;
}

.section5 h3 {
    color: #000000;
    font-size: 38px;
    font-weight: bolder;
    position: relative;
    top: 40px;
    left: 40px;
}

.section5 h4 {
    color: rgb(197, 17, 53);
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    top: 23px;
    left: 43px;
}

.fa-twitter,
.fa-facebook-f,
.fa-linkedin {
    color: rgb(197, 17, 53);
    font-size: 35px;
    position: relative;
    top: 70px;
    margin-left: 30px;
}

.conteneur9 {
    text-align: center;
    color: #ce0033;
}

.fabrique {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.fabrique h2 {
    margin: 25px;
    color: #ce0033;
    font-size: 52px;
    font-weight: bolder;
}

.grid-fab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fab1 {
    text-align: justify;
    margin: 15px;
}
.fab1 img {
    width: 75%;
}
.appel-candidature {
    width: 80%;
    margin: 0 auto;
}

.appel-candidature h2 {
    margin: 50px;
    color: #ce0033;
    font-size: 52px;
    font-weight: bolder;
    text-align: center;
}

.grid-candidature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 25px;
}


.referent {
    border-radius: 5px;
    box-shadow: 1px 1px 9px darkgrey;
    border: white solid 1px;
    padding: 10px;
    display: flex;
}

.referent-logo {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.refdig {
    background: #f7d917;
    border: #f7d917 solid 1px;
}
.devweb {
    background: #ce0033;
    border: #ce0033 solid 1px;
}
.sas {
 background: orangered;
border: orangered solid 1px;   
}
.devmob {
    background: #1f799a;
    border: #1f799a solid 1px;
}
.chargeClient {
    background: green;
    border: green solid 1px;
}

.appel-p {
    padding-left: 20px;
}

.div_conteneur_fabrique_mission {
    width: 65vw;
    height: 50vh;

    position: relative;
    left: 300px;
    bottom: 750px;
    z-index: 3;
}

.div_couleur_rose_fabrique_mission {
    width: 65vw;
    height: 50vh;
    background-color: #df3e3e;
    opacity: 0.7;
    position: relative;
    left: 300px;
    bottom: 250px;
    z-index: 1;
}

.sous_div1_conteneur_fabrique_mission {
    width: 65vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sous_div2_conteneur_fabrique_mission {
    width: 65vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    left: 18px;
}

.div_conteneur_fabrique_mission .p1 {
    color: #FFFFFF;
    font-size: 45px;
}

.div_conteneur_fabrique_mission .p2 {
    color: #FFFFFF;
    width: 240px;
    line-height: 37px;
}

.section1 {
    width: 100%;
    height: 1000px;
    background-color: rgb(238, 234, 234);
    position: relative;
    bottom: 560px;
    z-index: 1;
}

.h1_lapetitehistoire {
    position: absolute;
    left: 37%;
    top: 1000px;
    font-size: 53px;
    font-weight: bolder;
    color: rgb(197, 17, 53);
}

.span1 {
    width: 45%;
    height: 50vh;
    position: absolute;
    top: 30%;
}

.span2 {
    width: 39%;
    height: 72vh;
    background-image: url("img/26.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50%;
    bottom: 15%;
}


.para1 {
    font-size: 40px;
    font-weight: bolder;
    color: #e23a3a;
    text-align: center;
    position: relative;
    bottom: 40px;
    left: 70px;
}

.para2 {
    font-size: 20px;
    color: #000000;
    position: relative;
    left: 250px;
    bottom: 45px;
    width: 520px;
    line-height: 35px;
    text-align: center;
}

.para3 {
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
    position: relative;
    top: 15px;
    left: 440px;
    width: 280px;
    height: 55px;
    background-color: #e23a3a;
}

.fa-quote-left {
    font-size: 90px;
    color: #f496ad;
    position: relative;
    left: 20px;
}

.fa-quote-right {
    font-size: 90px;
    color: #a4a1a2;
    position: relative;
    bottom: 50px;
    left: 380px;
}

.conteneur {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    top: 930px;
    left: 20px;
}

.iconeconteneur {
    font-size: 13px;
    color: crimson;
    margin-right: 30px;
}

.divconteneur {
    background-color: crimson;
    width: 43px;
    height: 10px;
    border-radius: 20px;
    border: 1px crimson solid;
}

.section2 {
    width: 100%;
    height: 1700px;
    background-color: #FFFFFF;
    position: relative;
    bottom: 295px;
}

.conteneur1 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute;
    top: 6%;
}

.divconteneur1 {
    width: 40%;
    height: 30vh;
    margin-right: 85px;
}

.section2 h2 {
    position: absolute;
    left: 37%;
    bottom: 100%;
    font-size: 53px;
    font-weight: bolder;
    color: rgb(197, 17, 53);
}

.conteneur1 img {
    margin-left: 85px;
}

.p1divconteneur1 {
    font-size: 33px;
    font-weight: bolder;
    color: rgb(197, 17, 53);
    position: relative;
    bottom: 45px;
}

.p2divconteneur1 {
    font-size: 25px;
    line-height: 43px;
    position: relative;
    bottom: 45px;

}

.div1 {
    background-color: crimson;
    width: 145px;
    height: 12px;
    border-radius: 20px;
    border: 1px crimson solid;
    margin: auto;
    position: relative;
    top: 34%;
}

.conteneur2 {
    width: 50%;
    height: 110vh;
    position: absolute;
    bottom: 6%;
    left: 6%;
}

.conteneur2 h2 {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(197, 17, 53);

}

.div1conteneur3,
.div2conteneur3,
.div3conteneur3,
.div4conteneur3,
.div5conteneur3,
.div6conteneur3 {
    height: 70%;
    box-shadow: 0px -2px 10px darkgrey;
    background-image: linear-gradient(to bottom, #FFFFFF 97%, rgb(190, 37, 67) 3%, rgb(190, 37, 67))
}

.conteneur3 {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
}

.p1conteneur3 {
    font-size: 55px;
    font-weight: bolder;
    color: rgb(197, 17, 53);
    position: relative;
    left: 32px;
    bottom: 38px;

}

.p2conteneur3 {
    font-size: 16px;
    font-weight: bolder;
    color: black;
    position: relative;
    left: 32px;
    bottom: 96px;

}

.p3conteneur3 {
    font-size: 16px;
    padding: 0px 40px 0px 40px;
    color: black;
    position: relative;
    bottom: 100px;
    right: 10px;
}

.conteneur4 {
    width: 25%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    top: 1450px;
    left: 1440px;
    z-index: 3;
}

.iconeconteneur4 {
    font-size: 13px;
    color: #FFFFFF;
    margin-right: 25px;
}

.divconteneur4 {
    background-color: #FFFFFF;
    width: 43px;
    height: 13px;
    border-radius: 20px;
    border: 1px #FFFFFF solid;
}

.div2 {
    width: 33%;
    height: 115vh;
    background-image: url("img/33.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    position: absolute;
    left: 63%;
    bottom: 1.5%;
    z-index: 2;
    box-shadow: -2px 8px 20px darkgrey;
}