@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");

body {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}


/*la baniere de découverte */

.divmain1 {
  width: 100%;
  height: 62vh;
 background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(img/35.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0rem 4rem ;

}


.para1divmain1 {
  color: #ffffff;
  font-size: 7rem;
  font-weight: bolder;
}

.para2divmain1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif !;
 margin-top: -6rem;

}

/*fin de la baniére*/
/*debut de la partie decouvertes sur les chiffres*/ 
.cont-decouvert{
  display: flex;
  justify-content: space-around;
  background-color: #ce0033;
  margin:0 6%;
  margin-top: -7%;
position: relative;

}
.block-decouvert{
  text-align: center;
  margin: 1rem;
  color: #fff;
}
.chiffres-block-decouvert{
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.text-block-decouvert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.grand-formateur{
  margin: 5%;
}
.h21main{
  
  font-size: 4rem;
  color: #ce0033;
 
}

.hr1main{
  margin-top: -3%;
  width: 10rem;
  height: 0.2rem;
  background-color: #000;
  font-weight: bold;
}

/* la partie des blocks pour le formateur*/
.cont-formateur{
  margin: 4rem;
  display: flex;
  justify-content: space-around;
}
.block-formateur{
  display: flex;
  justify-content: space-around;
  margin: 3rem;
  box-shadow: 0rem 1rem 1rem 1rem rgba(0, 0, 0, 0.121);
  border-radius: 1rem;
  padding: 2rem;
}

.photo-formateur{
  width: 12rem;
  height: 13rem;
  z-index: 2;
  margin-left: -20%;
  margin-top: -15%;
  border-radius: 1rem;
}
.cont-all-element-formateur{
  padding: 1%;
}
.nom-formateur{
  color: #000;
  font-weight: bold;
  font-size: 150%;
}
.ligne-formateur{
  height: 0.1rem;
  background-color: #000;
  width: 10rem;
  margin-left: 0%;
}
.btn-format{
  margin-left: 100%;
  margin-top: -10%;
  color: #fff;
  background-color: #ce0033;
  width: 6rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
}
/*fin de la partie des blocks de la partie des formateurs*/

/*début de la partie des apprenants */

/*la premiere partie*/

.cont-apprenant{
  display: flex;

  justify-content: space-between;
  margin: 4rem;
}

.block1-apprenants{
  
  width: 50%;
}
.block2-apprenants{
  width: 50%;
}

.titre-apprenant{
  color: #ce0033;
  font-size: 3rem;
  font-weight: bold;

}
.ligne-apprenant{
  height: 0.1rem;
  width: 7rem;
  margin-left: 0%;
  background-color: #000;
  
  
}
.para_divmain5{
  display: flex; 
  justify-content: center;
  width: 100%;
  height:50% ;
  font-size: 1.5rem;
  align-items: center;
  background-color: rgb(247, 244, 244);
 
}

.maman2{
  position: absolute;
  margin-left: -3rem;
  width: 15rem;
  height: 2.5rem;
  border: 0;
  border-radius: 0rem 1rem 1rem 0rem ;
  background: #ce0033;
  color: #fff;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: bold;
align-items: center;
display: flex;
justify-content: center;
}

.maman{
  position: absolute;
  margin-left: -3rem;
  width: 8rem;
  height: 2.5rem;
  border: 0;
  border-radius: 0rem 1rem 1rem 0rem ;
  background: #ce0033;
  color: #fff;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: bold;
  
}

.time-apprenants{
  position: absolute;
  width: 5rem;
  height: 2.8rem;
  border: 0;
  background: #ce0033;
  color: #fff;
  font-size: 1rem;
  margin-top: 21rem;
  margin-left: 38rem;
  
}
.photo-apprenant1{
  height: 25rem;
  width:43.3rem ;
  box-shadow: 0rem 0.3rem  0.3rem #00000041 ;
  border-bottom:solid 0.8rem #ce0033;
}

.para3_divmain6{
  display: flex;
  justify-content: center;
  text-align: start;
  align-items: center;
  height: 8rem;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: 0rem 1rem 1rem #2c2b2b42;
  font-size: 1.6rem;
}
/* fin de la partie des apprenants*/
/*début de la mediascreen */
@media only screen and (max-width: 768px){
  /*la baniere de découverte */
  .divmain1 {
    width: 40rem;
    height: 40vh;
   background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(img/35.png);
    background-position: center;
    background-repeat:no-repeat ;
    background-size:cover ;
  } 
  .para1divmain1 {
    color: #ffffff;
    font-size: 5rem;
  }
  .para2divmain1{
    font-size: 1rem;
  }

/*fin de la baniére*/
/*debut de la partie decouvertes sur les chiffres*/ 
  .cont-decouvert{
    display: flex;
    justify-content: space-around;
    background-color: #ce0033;
    margin:0 6%;
    margin-top: -7%;
  position: relative;
  
  }
  .block-decouvert{
    margin: 0.2rem;
  }
  .chiffres-block-decouvert{
    font-size: 1.3rem;
  }
  .text-block-decouvert{
    font-size: 0.8rem;
  }
  .h21main{
    font-size: 3rem;
  }
  /* la partie des blocks pour le formateur*/
  .cont-formateur{
    display: flex;
    flex-wrap: wrap;
  }
/*fin de la partie des blocks de la partie des formateurs*/
.cont-apprenant{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}
.block1-apprenants{
  width: 100%;
  margin: 2rem;
}


.para_divmain5{
  margin:  1rem ;
}
.para3_divmain6{
height: 10rem;
width: 43.3rem;
font-size: 1.5rem;
}
}
/* fin de la partie tablette */
/*début de la partie téléphone*/
@media only screen and (max-width: 480px){
/*la baniere de découverte */
.divmain1 {
 width: 23.5rem;
  height: 25vh;
}
.para1divmain1 {
  color: #ffffff;
  font-size: 4rem;    
}

.para2divmain1{
  font-size: 0.8rem;
  margin-top: -3.5rem;
}
/*fin de la baniére*/
/*debut de la partie decouvertes sur les chiffres*/ 

.cont-decouvert{
  display: grid;
width: 20rem;
  background-color: #ce0033;
  margin:0 20%;
  
  
position: relative;
}
.block-decouvert{
  padding: 0.5rem;
}
.chiffres-block-decouvert{
  font-size: 2rem;
}
.text-block-decouvert{
  font-size: 0.8rem;
}
.h21main{
  font-size: 2rem;
}
/*fin de la partie  découverte des chiffres */
.cont-formateur{
 margin-left: 11rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
/*partie formateur
.cont-formateur{
 margin-left: 20rem;
  display: flex;
  flex-wrap: wrap;
}
*/

/*partie apprenant*/
.photo-apprenant1{
  width: 28rem;
  
}
.time-apprenants{
  margin-left: 20rem;
}
.para3_divmain6{
  height: 8rem;
  width: 28rem;
}
.cont-all-element-formateur{
  width: 10rem;
  height: 27.5rem;
 
}
.para_divmain5{
  width: 25rem;
  height: 25rem;
  padding: 0.5rem;
  margin-left: -1rem;
}


}