@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");
body {

    box-sizing: border-box;
    background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}
header {
    width: 100vw;
    height: 75h;
}
.sectionheader1 {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}
header ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}
header ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-right: 53px;
}
.div1header {
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}
.fa-magnifying-glass {
    font-size: 25px;
    color: black;
}
header ul li a:hover {
    color: rgb(211, 70, 70);
    text-decoration: underline;
}
.fa-caret-down {
    position: relative;
    top: 15px;
    right: 22px;
    color: rgb(211, 70, 70);
}
.para1div1header {
    font-weight: bolder;
}
.para2div1header {
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    width: 100px;
    height: 30px;
    background-color: rgb(211, 70, 70);
    border-radius:20px ;
    position: relative;
    right: 23px;
    bottom: 5px;
}
.div2header {
    width: 60px;
    height: 15px;
    background-color: #000000;
    border-radius:20px ;
}
.sectionheader2 {
    width: 100vw;
    height: 65vh;
    background-image: url("img/26.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 37px;
}
.para1sectionheader2 {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 37px;
    width: 500px;
}
.para2sectionheader2 {
    color: #FFFFFF;
    width: 500px;
}
.para3sectionheader2 {
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    width: 200px;
    height: 50px;
    background-color: rgb(211, 70, 70);
    border-radius:30px ;
    text-align: center;
    padding-top: 15px;
}
.div2header {
    background-color: #FFFFFF;
}
.fa-circle {
    color: #FFFFFF;
    font-size: 15px;
}
.para1sectionheader2, .para2sectionheader2 , .para3sectionheader2 {
    position: relative;
    left: 270px;
    top: 120px;
}
.rond1, .rond2 {
    position: relative;
    top: 250px;
    left: 800px;
}
.div2header {
    position: relative;
    top: 235px;
    left: 870px;
}
.rond2 {
   margin-left: 13px;

}

a {
  text-decoration: none;
  color: inherit;
}

.simplon-au-senegal {
  margin: 0 auto;
  background: #ede1e4;
  display: flex;
  padding: 50px 120px;
}

.image-femme img {
  width: 300px;
  height: 400px;
  border-radius: 30px;
}

.texte-femme {
  padding-left: 100px;
}
.texte-femme h1 {
  text-transform: uppercase;
  color: #ce0033;
  font-weight: 900px;
  font-size: 40px;
  margin-top: -4px;
}

.texte-femme p {
  text-align: justify;
  padding-right: 300px;
  font-size: 25px;
}

.nos-nouvelles {
  padding: 10px 80px;
}

.nos-nouvelles h1 {
  color: #ce0033;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
}
.nos-nouvelles h2 {
  color: #ce0033;
}

.nos-nouvelles .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.image1 img,
.image2 img,
.image3 img,
.image4 img {
  width: 90%;
  height: 200px;
  border-radius: 5px;
}

.rocket img {
  width: 20px;
  height: 30px;
}
.plus {
  float: right;
  clear: both;
  padding: 50px;
  color: #ce0033;
  font-size: 20px;
  font-weight: bold;
}
.border-plus {
  background-color: #ce0033;
  color: white;
  padding: 5px;
  clip-path: ellipse(33% 50%);
  font-size: 30px;
}
.a-venir {
  padding: 10px 80px;
  color: #ce0033;
  font-size: 30px;
}
.grid-events {
    display: grid;
  grid-template-columns: 1fr 1fr;
}

.cohorte, .hackathon {
    background: #ce0033;
    width: 800px;
    height: 200px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.date {
    font-weight: bold;
    padding: 25px;
}
.lancement {
    padding: 25px;
}
.tiret hr {
    display: inline-block;
    width: 50px;
}
.fleche {
    padding: 100px;
}
.fleche img {
    width: 30px;
    border: white solid 1px;
    background: white;
}

.dec {
    float: right;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}